<?xml version='1.0' encoding='UTF-8'?>
<LanguageData>
  <COCTF_fixFilteredProductStackCountsSetting_title><![CDATA[Fix vanilla filtered product stack counts]]></COCTF_fixFilteredProductStackCountsSetting_title>
  <COCTF_fixFilteredProductStackCountsSetting_description><![CDATA[Fixes a vanilla bug(?) where stack counts are ignored as soon as a product count filter (e.g. hitpoints, quality) is applied in the "Do until X" section of a bill. <b>Enabling requires restart.</b>]]></COCTF_fixFilteredProductStackCountsSetting_description>
</LanguageData>
